<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Koordynator Data</title>
</head>
<body>

<div th:if="${not #lists.isEmpty(lista_grup)}">
    <h1>Menadżer koordynatora grup studenckich</h1>
    <hr>
    <table>
        <tr>
            <th>nazwa grupy</th>
            <th>numer grupy</th>
            <th>imie</th>
            <th>nazwisko</th>
            <th>index</th>
        </tr>
        <tr th:each="lista : ${lista_grup}">
            <td th:text="${lista.getNazwaGrupy()}"></td>
            <td th:name="id" th:text="${lista.getIdGrupy()}"></td>
            <td th:text="${lista.getImie()}"></td>
            <td th:text="${lista.getNazwisko()}"></td>
            <td th:text="${lista.getIndex()}"></td>
            <td>
                <input th:type="radio" th:name="choice" th:value="${lista.getIndex()+'!'+lista.getIdGrupy()}" th:form="getForm" required>
            </td>
        </tr>
        <tr>
            <td>
                <form action="/koordynator/magiczne5", method="post" id="postForm">
                    <input type="submit" name="magiczne5" value="magiczny przycisk do wystawienia 5">
                </form>
                <form th:action="@{/koordynator/wystaw_oceny}" th:method="get" th:id="getForm">
                    <input type="submit" name="ocen" value="oceń wybranego studenta">
                </form>
            </td>
        </tr>
    </table>

</div>
</body>
</html>