<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ocena</title>
</head>
<body>
<a href="/logout">wyloguj</a>
<hr>

<div class="ocenaStudenta">
    <h1>Ocena studenta</h1>
    <hr>
    <form th:action="@{/koordynator/wystaw_oceny}", th:method="put">
        <table>
            <tr>
                <th>id grupy</th>
                <th>imię</th>
                <th>nazwisko</th>
                <th>numer USOS</th>
                <th>kolokwium 1</th>
                <th>kolokwium 2</th>
                <th>ocena końcowa</th>
            </tr>
            <tr>
                <td><input type="text" th:name="id_grupy1" th:value="${id_group}" readonly></td>
                <td><input type="text" th:name="imie" th:value="${student.getImie()}" readonly></td>
                <td><input type="text" th:name="nazwisko" th:value="${student.getNazwisko()}" readonly></td>
                <td><input type="text" th:name="numer_USOS" th:value="${student.getNumerUSOS()}" readonly></td>
                <td><input type="text" th:name="kolokwium_1" th:value="${wyniki.getKolokwium1()}"  required></td>
                <td><input type="text" th:name="kolokwium_2" th:value="${wyniki.getKolokwium2()}" required></td>
                <td><input type="text" th:name="ocena_koncowa" th:value="${wyniki.getOcenaKoncowa()}" required></td>
            </tr>
        </table>
        <input type="submit" name="apply" value="zatwierdź">
    </form>
</div>

</body>
</html>