<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerFragment">
    <meta charset="UTF-8">
    <title>PracownikDziekanatu</title>
</head>
<body>
This is site for pracownikDZekanatu
!!!

<div th:if="${not #lists.isEmpty(grupy)}">
<table>
    <tr>
        <th>nazwa</th>
        <th>numer id</th>
        <th>dzien tygodnia</th>
        <th>godzina rozpoczecia</th>
        <th>godzina zakonczenia</th>
        <th>limit miejsc</th>
        <th>imie koordynatora</th>
        <th>nazwisko koordynatora</th>
        <th>wybór grupy</th>
    </tr>
    <tr th:each="grupa : ${grupy}">
        <td th:text="${grupa.getNazwaGrupy()}"></td>
        <td th:text="${grupa.getId_grupy()}"></td>
        <td th:text="${grupa.getDzienTygodnia()}"></td>
        <td th:text="${grupa.getGodzinaRozpoczecia()}"></td>
        <td th:text="${grupa.getGodzinaZakonczenia()}"></td>
        <td th:text="${grupa.getLimitMiejsc()}"></td>
        <td th:text="${grupa.koordynator.getImie()}">
        <td th:text="${grupa.koordynator.getNazwisko()}"></td>
        <td>
            <input th:type="radio" th:name="option" th:value="${grupa.getId_grupy()}" th:form="deleteform">
        </td>
    </tr>
    <tr>
        <form action="/pracownik_dziekanatu", method="post" id="postform">
            <input type="submit" name="new" value="nowa grupa">
        </form>
        <form th:action="@{/pracownik_dziekanatu}" th:method="put" th:id="putform">
            <input type="submit" name="edit" value="edytuj zaznaczoną grupę">
        </form>
        <form th:action="@{/pracownik_dziekanatu}" th:method="delete" th:id="deleteform">
            <input type="submit" name="delete" value="usuń zaznaczoną grupę">
        </form>
    </tr>
</table>

</div>
</body>
</html>